# CAP author-readings
_out
*.db
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/
dist/
resources/

# Web IDE, App Studio
.che/
.gen/
.vscode
.idea

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

package-lock.json
default-*.json
